

/* body {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: rgb(193, 212, 157);
}
.JS_DZ_Module_7_8_Week_16{
    margin: auto;
    margin-right: 0vh;
    width: 20vw;
    height: auto;
    min-height: 100vh;
    font-size: xx-large;
    background-color: rgb(190, 170, 201);
    text-align: center; 
  }
  #type, #title {
    font-size: x-large;
    width: 15dvw;
    height: 3dvh;
  }
  .showingEverything {
    display: block;
    background-color: rgb(105, 94, 110);
    margin: auto;
    margin-left: 0vh;
    width: 70vw;
    height: auto;
    min-height: 100vh;
    text-align: center;
  }
  .pages {
    
    position: fixed;
    bottom: 0;
    left: 55%; 
  }
  .pages>button {
    font-size: x-large;
    height: 3dvh
  } */

  form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
  }
  .flex {
    display: flex;
    gap: 40px;
  }
  [type=submit] {
    display: block;
    width: 100%;
  }